<html>
    <head>
        <title>Nosaiba's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Nosaiba's Blog</a></h1>
        </div>

        <div>
            <p>published:14.01.2016, 13:20</p>
            <h2><a href="">my first post</a></h2>
            <p>Below is a sample of “Lorem ipsum dolor sit” dummy copy text often used to show font face samples,
            for page layout and design as sample layout text by printers, graphic designers, Web designers,
            people creating Microsoft Word templates,
            and many other uses. It mimics the look of real text quite well as you design and set up your page layouts. </p>

        </div>

        <div>
            <p>published 12.03.2012, 01.12</p>
            <h2><a href="">my second post</a></h2>
            <p>People search for this Lorem ipsum dummy copy text using all kinds of names,
            such as Lorem ipsum, lorem ipsum dolor sit amet, Lorem, dummy text, loren ipsum (yes, spelled wrong),
            Lorem ipsum sample textipsum loremlorem ipsum sample, Latin copy text, Lorem ipsum text, Latin dummy text,
            template text, sample text, dummy copy text, Latin sample text, HTML dummy text, Lorem ipsum dummy text,
            filler text or copy filling text, and many other names. Regardless of what you wish to call it,
            this text possibly originated in the 1500s as scrambled Latin.

</p>
        </div>
    </body>
</html>